body {
	margin: 0;
	font-family: sans-serif;
}
.container {
	padding: 1rem;
	max-width: 960px;
	margin: auto;
}
header {
	padding-bottom: 1rem;
}
header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	width: 100%;
	gap: 8px;
}
header nav ul li {
	display: inline-block;
	flex-grow: 1;
	text-align: center;
}
header nav ul li a {
	background-color: red;
	color: white;
	text-decoration: none;
	display: block;
	line-height: 2rem;
	border-radius: 1rem;
}
header nav ul li a:hover,
header nav ul li a:focus {
	background-color: pink;
}
header nav ul li a:active {
	background-color: maroon;
}

.hero-image {
	background-color: #aaa;
	position: relative;
	overflow: hidden;
	border-radius: 1rem;
}
.hero-image .aspect-container {
	position: absolute;
	height: 100%;
	width: 100%;
}
.hero-image .slider {
	height: 100%;
	position: absolute;
	font-size: 0;
	left: 0;
	transition: all 500ms ease;
}
.hero-image .slider .image-container {
	height: 100%;
	display: inline-block;
	position: relative;
}
.hero-image .slider .image-container img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
.process-sequence .controls,
.hero-image .controls {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translate(0, -50%);
	height: 2rem;
	z-index: 101;
}
.process-sequence .controls button,
.hero-image .controls button {
	background-color: #0008;
	color: white;
	text-decoration: none;
	display: block;
	line-height: 2rem;
	border-radius: 1rem;
	width: 2rem;
	padding: 0;
	border: 0;
	text-align: center;
}
.process-sequence .controls button:hover,
.process-sequence .controls button:focus,
.hero-image .controls button:hover,
.hero-image .controls button:focus {
	background-color: #3338;
}
.process-sequence .controls button:active,
.hero-image .controls button:active {
	background-color: #6668;
}
.process-sequence .controls .right,
.hero-image .controls .right {
	position: absolute;
	right: 1rem;
}
.process-sequence .controls .left,
.hero-image .controls .left {
	position: absolute;
	left: 1rem;
}

.process-sequence {
	background-color: #aaa;
	position: relative;
	overflow: hidden;
	border-radius: 1rem;
}
.process-sequence .aspect-container {
	position: absolute;
	height: 100%;
	width: 100%;
}
.process-sequence .sequence {
	height: 100%;
	width: 100%;
}
.process-sequence .sequence .image-container {
	position: absolute;
	height: 100%;
	width: 0;
	top: 0;
	overflow: hidden;
}
.process-sequence .sequence .image-container.left {
	left: 0;
}
.process-sequence .sequence .image-container.right {
	right: 0;
}
.process-sequence .sequence .image-container.incoming{
	z-index: 100;
	width: 100%;
	transition: width 400ms ease;
}
.process-sequence .sequence .image-container.outgoing{
	z-index: 99;
	width: 100%;
}
.process-sequence .sequence .image-container img {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}
.process-sequence .sequence .image-container.left>img {
	object-position: 0 0;
}
.process-sequence .sequence .image-container.right>img {
	object-position: 100% 0;
}
.process-sequence .label {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	z-index: 101;
	background-color: #0008;
	color: white;
	line-height: 2rem;
	border-radius: 1rem;
	padding: 0 1rem;
	text-align: center;
}

img {
	max-width: 100%;
}

p:has(img) {
	text-align: center;
}

.blog-post-link {
	padding: 0 1rem;
	margin-bottom: 1rem;
	border-radius: 1rem;
	border: 1px solid #0004;
	box-shadow: 0 0.25rem 0.25rem #0006;
}
.date {
	font-style: italic;
}

.gallery-works {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}

.gallery-link {
	min-width: 256px;
	max-width: 256px;
	margin-bottom: 1rem;
	border-radius: 1rem;
	border: 1px solid #0004;
	box-shadow: 0 0.25rem 0.25rem #0006;
	overflow: hidden;
}
.card-body {
	padding: 0 1rem;
}